@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


body {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background: #f3f3f3;
  color: #222;
}

* {
  transition: background-color 0.2s ease,
    color 0.2s ease,
    border-color 0.2s ease,
    box-shadow 0.2s ease;
}

.main {
  padding: 2rem;
}

.app {
  background: #fff;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, .08);
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.flag {
  border-radius: 4px;
  border: 1px solid #CCC;
  height: 22px;
}

.tabs {
  display: flex;
  gap: 8px;
  margin-bottom: 2rem;
  overflow: auto;
  padding-block: 1rem;
}

.tab {
  padding: 8px 14px;
  border-radius: 100rem;
  background: #FFF;
  cursor: pointer;
  font-size: 14px;
  text-wrap-mode: nowrap;
  border: 1px solid #CCC;
}

.tab:hover {
  background: #EEE;
  border: 1px solid #AAA;
}

.tab.active {
  background: #222;
  border-color: #000;
  color: #fff;
}

.word {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}

.word span {
  width: 180px;
  font-weight: 600;
}

.word input {
  flex: 1;
  padding: 12px 16px;
  border-radius: 100rem;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.word input:focus {
  outline: none;
  border-color: #999;
}

.word input.correct {
  border: 2px solid #4caf50;
  background: #4caf4f14;
}

.word input.wrong {
  border: 2px solid #f44336;
  background: #f4433614;
}

.word button {
  padding: 6px;
  border-radius: 100rem;
  background: #FFF;
  cursor: pointer;
  font-size: 20px;
  border: 1px solid #CCC;
}

.word button:hover {
  background: #eee;
  border-color: #AAA;
}

.actions {
  display: flex;
  gap: 8px;
}

#resetAll {
  margin-left: auto;
  border: 1px solid #df5050;
  background: #df5050;
  border-radius: 100rem;
  cursor: pointer;
  padding: 6px 12px;
  font-size: 14px;
  color: white;
  font-weight: 500;
}

#resetAll:hover {
  background: #bb3d3d;
}


@media (max-width: 600px) {

  .main {
    padding: 0.5rem;
  }

  .app {
    padding: 1.5rem;
  }

  h1 {
    font-size: 20px;
  }

  .word {
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 2rem;
  }

  .word span {
    width: 100%;
    font-weight: 600;
    text-align: center;
  }

  .actions button {
    width: 50%;
  }


}